@charset "utf-8";

/********************************************************
■ LNB
********************************************************/

#nt_lnb { font-size:11px; line-height:20px; }
#nt_lnb ul { list-style: none; margin: 0; padding:5px 0px 25px 0px; }
#nt_lnb ul > li { float: left; padding: 0 7px; margin:0; }
#nt_lnb .right-lnb { margin-right: -7px; }
#nt_lnb ul > li::after { float: right; color:#ccc; content: ""; margin-right:-10px; font-size:11px; }
#nt_lnb ul > li:last-child::after { content: ""; margin-right:0; }
#nt_lnb ul > li > a { color: #888; float:left; }
#nt_lnb ul > li > a:hover { color: #888; }
@media all and (max-width:991px) {
	.responsive #nt_lnb .nt-container { display:none; visibility:visible; }
}
